snippet cjs "JavaScript codeblock"
	\`\`\`javascript
	$0
	\`\`\`

snippet cjson "JSON codeblock"
	\`\`\`json
	$0
	\`\`\`

snippet ccss "CSS codeblock"
	\`\`\`css
	$0
	\`\`\`

snippet chtml "HTML codeblock"
	\`\`\`html
	$0
	\`\`\`

snippet cbash "BASH codeblock"
	\`\`\`bash
	$0
	\`\`\`
