[core]
	excludesfile = ~/.gitignore

[fetch]
	prune = true

[merge]
	conflictStyle = zdiff3

[push]
	autoSetupRemote = true

[tag]
	sort = -version:refname

[user]
	email = daniel.rotter@gmail.com
	name = Daniel Rotter

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true

[IncludeIf "hasconfig:remote.*.url:**Yumpu*/**"]
	path = .gitconfig-yumpu
