[column]
	ui = auto

[commit]
	verbose = true

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true

[fetch]
	all = true
	prune = true
	pruneTags = true

[push]
	autoSetupRemote = true

[tag]
	sort = -version:refname

[user]
	email = daniel.rotter@gmail.com
	name = Daniel Rotter

[IncludeIf "hasconfig:remote.*.url:**Yumpu*/**"]
	path = .gitconfig-yumpu
