[column]
	ui = auto

[commit]
	verbose = true

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true

[fetch]
	all = true
	prune = true
	pruneTags = true

[merge]
	conflictstyle = zdiff3

[push]
	autoSetupRemote = true

[tag]
	sort = -version:refname

[user]
	email = daniel.rotter@gmail.com
	name = Daniel Rotter

[IncludeIf "hasconfig:remote.*.url:**omicron*/**"]
	path = .gitconfig-omicron

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
