snippet cjs "JavaScript codeblock"
\`\`\`javascript
$0
\`\`\`
endsnippet

snippet cgv "Graphviz codeblock"
\`\`\`graphviz
$0
\`\`\`
endsnippet

snippet cbash "BASH codeblock"
\`\`\`bash
$0
\`\`\`
endsnippet

snippet ccs
\`\`\`csharp
$0
\`\`\`
endsnippet
