snippet d "display"
display: ${1:none};$0
endsnippet

snippet m "margin"
margin: ${1:0 0 0 0};$0
endsnippet

snippet p "padding"
padding: ${1:0 0 0 0};$0
endsnippet

snippet h "height"
height: ${1:auto};
endsnippet

snippet w "width"
width: ${1:auto};
endsnippet
